{
  "CN": "kubernetes",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ C }}",
      "L": "{{ L }}",
      "O": "Kubernetes",
      "OU": "{{ OU }}",
      "ST": "{{ ST }}"
    }
  ]
}
