# Don't touch those unless you know what you're doing
ssh_pub_key: "{{lookup('file', '~/.ssh/id_rsa.pub')}}"

# Configure here
cluster_name: "RKE"
domain: "domain.fr"
loadbalancers_vip: "X.X.X.X/YY"
ns1: "1.1.1.1"
ns2: "9.9.9.9"
