all:
  vars:
    ansible_fqdn: "{{inventory_hostname}}.{{domain}}"
  hosts:
  children:
    loadbalancers:
      hosts:
        k8s-loadbalancer[1:2]:
    kubernetes:
      children:
        controllers:
        workers:
    controllers:
      hosts:
        k8s-controller[1:3]:
    workers:
      hosts:
        k8s-worker[1:3]:
    storage:
      hosts:
        k8s-storage[1:3]:
