#cloud-config
hostname: {{ inventory_hostname }}

ssh_authorized_keys:
  - {{ ssh_pub_key }}

rancher:
  network:
    interfaces:
      eth0:
        address: {{ ansible_default_ipv4.address }}/24
        gateway: {{ ansible_default_ipv4.gateway }}
        dhcp: false
    dns:
      nameservers:
        - {{ ns1 }}
        - {{ ns2 }}
      search:
        - {{ domain }}
  console: ubuntu

runcmd:
# https://github.com/rancher/os/issues/2146#issuecomment-353514257
  - apt update
  - apt install python -y
{% if inventory_hostname in groups['workers'] %} 
  - modprobe rbd
  - apt install lvm2 -y
  - sed -i 's/\(use_lvmetad =\) 1/\1 0/' /etc/lvm/lvm.conf
  - pvcreate /dev/sdb
  - vgchange -ay
{% endif %}

