nodes:
{% for node in groups['controllers'] %}
  - address: {{ hostvars[node].ansible_default_ipv4.address }}
    user: rancher
    role:
      - controlplane
      - etcd
{% endfor %}
{% for node in groups['workers'] %}
  - address: {{ hostvars[node].ansible_default_ipv4.address }}
    user: rancher
    role:
      - worker
{% endfor %}
ssh_agent_auth: true
