cluster_name: {{ cluster_name }}
nodes:
{% for node in groups['controllers'] %}
  - address: {{ hostvars[node].ansible_default_ipv4.address }}
    user: rancher
    role:
      - controlplane
      - etcd
{% endfor %}
{% for node in groups['workers'] %}
  - address: {{ hostvars[node].ansible_default_ipv4.address }}
    user: rancher
    role:
      - worker
{% endfor %}

ssh_agent_auth: true
services:
  etcd:
    snapshot: true
    creation: 6h
    retention: 24h
  kubelet:
    image: ""
    extra_args:
      volume-plugin-dir: /usr/libexec/kubernetes/kubelet-plugins/volume/exec
    extra_binds:
      - /usr/libexec/kubernetes/kubelet-plugins/volume/exec:/usr/libexec/kubernetes/kubelet-plugins/volume/exec
